<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signin</title>
</head>
<body>
<form action="login_form" onsubmit="" method="post">
<h1>Enter your Email or username and password</h1>
    Name/Username<input type="text" name="username" id="name"><br/>
    Password<input type="password" name="password" id="password"><br/>
    <input type="submit" value="Sign in" /><br/>
</form>
<a href="signup.html">Sign Up</a>
<a href="registrationform.html">Register</a>


</body>
</html>